<!doctype html>
<html>
<body>
    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-dark">  
        <tr>  
            <th>Apartment Name</th>  
            <th>Apartment Address</th>  
            <th>Apartment Key</th>  
            <th>Room Key</th>  
        </tr>  
        </thead>  
        <tbody>  
    {% for keytable in keytables %}  
        <tr>  
            <td>{{ keytable.apart_name }}</td>  
            <td>{{ keytable.apart_addr }}</td>  
            <td>{{ keytable.apart_key }}</td>  
            <td>{{ keytable.room_key }}</td>  
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  
    <br>  
    <br>  
    <center><a href="/room_key" class="btn btn-primary">Add New Record</a></center>

    </body>
    </html>